doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Dimitri Jorge')

    title Gravacoin

    link(rel='shortcut icon', href='/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/embed.css')
  body
    .container
      span.col.currency
        img.inline(src="/images/#{address.currency.symbol}.png", width="18", height="18")
      span.col.address
        a(href="http://localhost:3000/#{address.encrypted_email}", target="_blank", title="See Gravacoin profile")= address.address
      span.col.copy-button
        button.btn.btn-info(class="copy-button", data-clipboard-text="#{address.address}", title="Click to clipboard")
          span.legend Copy to Clipboard

    script(src="/ZeroClipboard.min.js")
    script.
      ZeroClipboard.config({
        moviePath: '/ZeroClipboard.swf',
        trustedDomains: ["*"],
        allowScriptAccess: "always",
        forceHandCursor: true
      });
      var client;
      client = new ZeroClipboard(document.getElementsByClassName("copy-button"));
      client.on("load", function(client) {
        client.on("complete", function(client, args) {
          console.log(args);
          alert('Copied!');
        });
      });


