extends layout

block header
  #headerwrap
    .container
      .row
        .col-lg-8
          h1
            | Like gravatar
            br
            | For coins.
          a.button.btn.btn-info.btn-lg(href='#how_it_works') How does it work?
        .col-lg-4
          img.img-responsive(src='/images/ipad-hand.png', alt='')


block content
  #how_it_works.container
    .row.mt.centered
      .col-lg-6.col-lg-offset-3
        h1
          | List all your addresses
          br
          | No registration required.
        h3
          | Because raw text addresses' are so 2013.

    .row.mt.centered
      .col-lg-4
        img(src='/images/ser01.png', width='180', alt='')
        h4 1 - Register your address
        p
          | Use our API to send your address
      .col-lg-4
        img(src='/images/ser02.png', width='180', alt='')
        h4 2 - Receive a confirmation code
        p
          | Use this code to confirm your address
      .col-lg-4
        img(src='/images/ser03.png', width='180', alt='')
        h4 3 - That's it
        p
          | Your newly registered address appears on your profile page

    .row.mt.centered.text-center
      h3 You can then embed a badge pointing to your profile anywere !
      .col-lg-1.col-lg-offset-4
        a(href="/458641ed4b2725b16edbf0192ca0b2f2", title="See profile page", target="_blank")
          img(src="/458641ed4b2725b16edbf0192ca0b2f2.png")
      .col-lg-2
        a(href="/458641ed4b2725b16edbf0192ca0b2f2", title="See profile page", target="_blank")
          img(src="/ltc/458641ed4b2725b16edbf0192ca0b2f2.png")
      .col-lg-1
        a(href="/458641ed4b2725b16edbf0192ca0b2f2", title="See profile page", target="_blank")
          img(src="/btc/458641ed4b2725b16edbf0192ca0b2f2.png")

  .container
    hr

  #documentation.container
    .row.mt
      .col-lg-12
        h3 Register an address

        .well.well-lg
          code.col-md-6
            | $> curl -X POST http://gravaco.in/api/:symbol/addresses \
            br
            | -d "email=your_email" \
            br
            | -d 'address=your_address'
          p.col-md-6
            | Where symbol is the currency for which you register the address
            br
            | A full list of available currencies is available &nbsp;
            a(href="/api/currencies") here
          .clearfix &nbsp;
      .col-lg-12
        h3 Validate this address

        .well.well-lg
          code.col-md-6
            | GET /api/:currency/addresses/:encrypted_email/validate/:token
          p.col-md-6 Where token is a code you should have received by email
          .clearfix &nbsp;

      .col-lg-12
        h3 See your profile

        .well.well-lg
          code.col-md-6 http://www.gravaco.in/HASH
          p.col-md-6.
            Your profile is then available at the following url
            where HASH is your encrypted email (md5)
          .clearfix &nbsp;

  .container
    hr

  #about.container
    .row.mt.centered
      .col-lg-6.col-lg-offset-3
        h1 About
      .row.mt.centered
        .col-lg-4.col-lg-offset-4
          img.img-circle(src='http://www.gravatar.com/avatar/458641ed4b2725b16edbf0192ca0b2f2', width='140', alt='')
          h4 Dimitri Jorge
          p
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
          p
            i.glyphicon.glyphicon-send
            i.glyphicon.glyphicon-phone
            i.glyphicon.glyphicon-globe

  .container
    hr
    row.centered
      p.col-md-6
        | Theme by &nbsp;
        a(href="http://blacktie.co", tile="blacktie") BlackTie.co
      p.col-md-6
        | Inspired by &nbsp;
        a(href="http://keybase.io", tile="keybase") Keybase.io


