extends layout

block header
  script(src='/javascripts/main.js')
  #headerwrap
    .container.text-center
      .row
        .col-lg-12
          h1
            | Gravacoin is a free open-source <em>service</em> to share your <br/>
            | <strong>{{currency}}</strong> address with the world.
      .row.mt
        a.button.btn.btn-success.btn-lg(href='#how_it_works') How does it work?

block content
  .container#get_started
    .row.mt
      .col-xs-12
        h1.text-center Get started
        h3.text-center Register an address by filling this form

        .col-sm-6.col-sm-offset-3
          form.mt.text-center(ng-submit="createAddress()")
            .alert.alert-danger(ng-if="error_response")
              p {{error_response}}
            .alert.alert-success(ng-if="success_response")
              p Success ! You will receive an email shortly with a like to activate your registered address.

            .input-group.input-group-lg.mt-xxs(class="{{error.currency}}")
              .input-group-addon.min-width-120
                .text-right
                  span Currency
              select.form-control(ng-model="new_address.currency", ng-options="currency.symbol as currency.name for currency in currencies")
            .input-group.input-group-lg.mt-xxs(class="{{error.email}}")
              .input-group-addon.min-width-120
                .text-right
                  span Email
              input.form-control(type="email", id="inputEmail", placeholder="email@example.com", ng-model="new_address.email")
            .input-group.input-group-lg.mt-xxs
              .input-group-addon.min-width-120(class="{{error.address}}")
               .text-right
                 span Address
              input.form-control(type="text", id="inputAddress", placeholder="e.g: DHuFoMUNkXUxeRgvKyUNQkS7vHYmMBgwH4", ng-model="new_address.address")

            button.btn.btn-success.btn-lg(type="submit") Submit !

      .col-xs-12
        p.text-center
          | Once you follow the instruction given in the email, your profile becomes available.<br />
          | Use the <a href="/search">search page</a> to get your profile URL

  .container
    hr

  #how_it_works.container
    .row.mt.centered
      h1 List all your addresses<br />No registration required.
      h3 Because copy/paste is so 2013, we use ZeroClipboard.

    .row.mt.centered
      .col-lg-4
        img(src='/images/ser01.png', width='180', alt='Register your address')
        h4 1 - Register your address
        p Use our API to send your address
      .col-lg-4
        img(src='/images/ser02.png', width='180', alt='Receive code')
        h4 2 - Receive a confirmation code
        p Use this code to confirm your address
      .col-lg-4
        img(src='/images/ser03.png', width='180', alt='Validate using code')
        h4 3 - That's it
        p Your newly registered address appears on your profile page

    .row.mt.centered.text-center
      h3 Share your profile link or embed a badge pointing to your profile anywere !
      .row.mt
        a.button.btn.btn-primary(href='/458641ed4b2725b16edbf0192ca0b2f2', target="_blank") Example profile page
      .row
        .col-lg-4.col-lg-offset-1.col-md-4.col-xs-12
          a.text-right(href="/458641ed4b2725b16edbf0192ca0b2f2", target="_blank")
            img(src="/ltc/458641ed4b2725b16edbf0192ca0b2f2.png", alt="See profile page")
        .col-lg-2.col-md-4.col-xs-12
          a.text-center(href="/458641ed4b2725b16edbf0192ca0b2f2", target="_blank")
            img(src="/458641ed4b2725b16edbf0192ca0b2f2.png", alt="See profile page")
        .col-lg-4.col-md-4.col-xs-12
          a.text-left(href="/458641ed4b2725b16edbf0192ca0b2f2", target="_blank")
            img(src="/btc/458641ed4b2725b16edbf0192ca0b2f2.png", alt="See profile page")

  .container
    hr

  .container#documentation
    .text-center
      h1 Documentation
      p
        | This plateform was built with an easy-to-use API to allow developpers to build great things !<br />
        | The full documentation is available in the <a href="https://github.com/jorge-d/gravacoin/wiki/_pages", title="wiki">Github wiki</a>.
    hr

  #about.container
    .row
      .col-md-4.col-sm-12.text-center
        h2 Thanks to
        .row.mt
          ul.list-unstyled
            li <a href="//github.com/BGuimberteau" title="Benjamin">Benjamin Guimberteau</a> for hosting the service
            li <a href="//blacktie.co" title="BlackTie">BlackTie.co</a> for the free theme
            li <a href="//iconsdb.com/" title="BlackTie">IconsDB</a> for their amazing icons
            li And <strong>eveyone</strong> who send me feedbacks !
      .col-md-6.col-md-offset-2.col-sm-12.text-center
        h2 About the author
        .mt
          img.img-circle(src='http://www.gravatar.com/avatar/458641ed4b2725b16edbf0192ca0b2f2', width='100', alt='Me!')
          h4 Dimitri Jorge
          p.
            I'm a developper currently living in Paris.
            <br />I was looking for something to get people's DOGE address easily,
            <br />You know, just like it's easy to get someone's picture using Gravatar.
            <br />That's why I built <em>Gravacoin</em>.
            <br />It's my first real NodeJS app so I would love to get feedbacks / contributions to the projects. Also, feel free to contact me.
          ul.list-unstyled.list-inline
            li
              a(href="http://twitter.com/Dimitri_Jorge")
                img(src="/images/twitter-32.png", alt="Twitter")
            li
              a(href="http://github.com/jorge-d")
                img(src="/images/github-6-32.png", alt="Github")
            li
              a(href="http://linkedin.com/pub/dimitri-jorge/5b/919/4b7/")
                img(src="/images/linkedin-3-32.png", alt="Github")

  .container
    hr
    row.centered
      p.col-md-3.col-sm-4.col-xs-12
        | Theme by &nbsp;
        a(href="http://blacktie.co", tile="blacktie") BlackTie.co
      p.col-md-6.col-sm-4.col-xs-12
        | Feel free to <a href="http://github.com/jorge-d/gravacoin", title="Go to repository", target="blank">contribute</a>

      p.col-md-3.col-sm-4.col-xs-12
        | Inspired by &nbsp;
        a(href="http://keybase.io", tile="keybase") Keybase.io


