doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Gravacoin is a tool to share your crypto-addresses with the world!')
    meta(name='keyword', content='Bitcoin Dogecoin Litecoin open-source Feathercoin Github addresse-book cryptocurrency')
    meta(name='application-name', content='Gravacoin')
    meta(name='author', content='Dimitri Jorge')
    meta(property="og:title", content="Gravacoin")
    meta(property="og:type", content="article")
    meta(property="og:image", content="#{gravatar_url || 'http://gravaco.in/images/dogecoin-main.png'}")
    meta(property="og:url", content="http://gravaco.in")
    meta(property="og:description", content="Gravacoin is a tool to share your crypto-addresses with the world!")

    meta(name="twitter:card", content="summary")
    meta(name="twitter:title", content="Gravacoin")
    meta(name="twitter:description", content="Gravacoin is a tool to share your crypto-addresses with the world!")
    meta(name="twitter:image", content="#{'gravatar_url || http://gravaco.in/images/dogecoin-main.png'}")

    title Gravacoin

    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,900', rel='stylesheet', type='text/css')

    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49426829-1', 'gravaco.in');
      ga('send', 'pageview');

  body
    script(src='/zeroclipboard/ZeroClipboard.min.js')
    script(src='/angular/angular.min.js')
    script(src='/angular/angular-resource.min.js')
    script(src='/angular/ng-clip.min.js')
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')

    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            b Gravacoin
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/search') Search
            li
              a(href='/#how_it_works') What is it
            li
              a(href='/#documentation') Documentation
            li
              a(href='/#about') About

    block header

    block content
