extends layout

block header
  script(src='/javascripts/profile.js')

  .container.push--top.profil-page(ng-app="app")
    .row(ng-controller="CurrencyCtrl")
      .col-lg-2
        img.img-circle(src='http://www.gravatar.com/avatar/' + hash, width='140', alt='', ng-init="hash='#{hash}';")
      .col-lg-10
        table.table.table-hover
          tr
            th Currency
            th Address
            th &nbsp;
          tr(ng-repeat="it in addresses")
            td
              img(ng-src="/images/{{it.currency.symbol || 'empty'}}.png")
              &nbsp;
              {{it.currency.name}}
            td {{it.address}}
            td
              button.btn.btn-info(class="copy-button pull-right", data-address="{{it.address}}", clip-copy="it.address", clip-click="handleClick(it.address)", title="Click to clipboard")
                span.legend Copy to Clipboard
                span.glyphicon.glyphicon-check.hidden

