extends layout

block header
  script(src='/javascripts/profile.js')
  #fb-root &nbsp;
  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=136398153061636";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  .container.push--top.profil-page
    .row
      .pull-right
        a.btn.btn-success(data-toggle="modal", data-target="#myModal")
          span Badges &amp; QR-Code
          span.glyphicon.glyphicon-share-alt
      .col-md-8.col-md-offset-2.col-xs-12.text-center
        img.img-circle(src=gravatar_url, width='140', alt='', ng-init="hash='#{hash}';")
    .row.mt
      .col-md-8.col-md-offset-2
        h2.text-center Addresses
        div.mt-xs(ng-repeat="it in addresses | orderBy:'currency.name'")
          .input-group.input-group-lg
            .input-group-addon(style="min-width: 150px")
              .text-left
                a(href="{{it.currency.url}}", target="_blank", title="{{it.currency.name}}")
                  img(ng-src="/images/{{it.currency.symbol || 'empty'}}.png")
                &nbsp;
                {{it.currency.name}}
            input.form-control(type="text", value="{{it.address}}", readonly)
            .input-group-btn
              button.btn.btn-warning(type="button", class="copy-button", data-currency="{{it.currency.symbol}}", clip-copy="it.address", clip-click="handleClick(it.currency.symbol)")
                span.small Copy
                span.glyphicon.glyphicon-link
                span.glyphicon.glyphicon-ok.hidden

    .row.mt.text-center
      .col-md-8.col-xs-12.col-md-offset-2
        h3.text-center Profile link
        .input-group.input-group-lg
          input.form-control(type="text", value="http://gravaco.in/{{hash}}" readonly)
          .input-group-addon#profile_url(class="copy-button", clip-copy="profile_url", clip-click="handleProfileUrlClick()")
            span.small Copy
            span.glyphicon.glyphicon-link
            span.glyphicon.glyphicon-ok.hidden
    .row.text-center
      ul.list-unstyled.list-inline
        li <a href="https://twitter.com/share" class="twitter-share-button" data-text="Wanna tip me some coins? Check out my donation profile" data-size="normal" data-count="none" data-via="Gravacoin">Tweet</a>
        li.facebook-share <div class="fb-share-button" data-href="http://gravaco.in/{{hash}}" data-type="button"></div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    p.mt-xs.text-center.small This is your profile? Change/Create your profile picture on <a href="http://gravatar.com/#{hash}" title="Change your profile picture on Gravatar" target="blank">Gravatar</a>.

    .modal.fade#myModal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")&times;
            h3.modal-title Embed &amp; QR-Code

          .modal-body
            h3 Generic badge
            img.margin-bottom-xs.center-block(ng-src="/{{hash}}.png")
            .input-group.input-group-sm
              span.input-group-addon Markdown
              input.form-control(type="text", value="[![Donate](http://gravaco.in/{{hash}}.png)](http://gravaco.in/{{hash}})")
            .input-group.input-group-sm
              span.input-group-addon Image URL
              input.form-control(type="text", value="http://gravaco.in/{{hash}}.png")
            h3
              | Select a currency
              select.pull-right.input-sm(ng-model="selectedCurrency", ng-options="addr.currency.symbol as addr.currency.name for addr in addresses | orderBy:'currency.name'")
            .mt(ng-show="selectedCurrency")
              h4 Badge
                img.margin-bottom-xs.center-block(ng-src="{{selectedCurrency}}/{{hash}}.png")
                .input-group.input-group-sm
                  span.input-group-addon Markdown
                  input.form-control(type="text", value="[![Donate](http://gravaco.in/{{selectedCurrency}}/{{hash}}.png)](http://gravaco.in/{{hash}})")
                .input-group.input-group-sm
                  span.input-group-addon Image URL
                  input.form-control(type="text", value="http://gravaco.in/{{selectedCurrency}}/{{hash}}.png")

              h4 QR-Code
              .center-block.text-center(style="width: 300px;")
                qrcode(data="{{address_for_currency(selectedCurrency)}}" size="250" error-correction-level="H")
                p.strong {{address_for_currency(selectedCurrency)}}
